<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-assist">
            <nav>
                <img src="/static/image/logo.png" alt="">
                <ul class="links">
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">SignUp</a>
                    </li>
                </ul>
            </nav>
            <section>
                <article>
                    <h1>WELCOME TO THE BLOG</h1>
                    <p>Here you can find the best articles on the internet</p>
                </article>
                <article>
                    <h1>WELCOME TO THE BLOG</h1>
                    <p>Here you can find the best articles on the internet</p>
                </article>
                <article>
                    <h1>WELCOME TO THE BLOG</h1>
                    <p>Here you can find the best articles on the internet</p>
                </article>
                <article>
                    <h1>WELCOME TO THE BLOG</h1>
                    <p>Here you can find the best articles on the internet</p> 
                </article>
            </section>
        </div>
    </div>
</body>
</html>