<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset>
        <form action="/user/register" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="lastname" placeholder="lastname">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Register</button>
        </form>
    </fieldset>


    <fieldset>
        <form action="/user/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <label for="checkbox">Remember me</label>
            <input type="checkbox" name="rememberMe" id="rememberMe">
            <button type="submit">Login</button>
        </form>
    </fieldset>
    <fieldset>
        <form action="/user/forgot-password" method="POST">
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Request Password Reset</button>
            </div>
        </form>
    </fieldset>
</body>
</html>